<template>
  <BrandingComponent/>
  <form class="flex flex-col" action="/api/record/extend" method="POST" @submit.prevent="formSubmit">
    <div class="flex flex-col mb-3">
      <label>Enter Hostname</label>
      <input type="text" class="border px-2 py-3 rounded"/>
    </div>
    <div class="grid md:block">
      <button type="submit" class="px-5 py-3 rounded bg-blue-500 text-blue-100 text-xl font-semibold">Extend Hostname</button>
    </div>
  </form>
</template>
<script setup>
  import BrandingComponent from "@/components/Branding.vue"
</script>
