<template>
  <BrandingComponent description="Easily point IP Address to a readable and memorable hostname of your choice. All records expires after 30 days unless renewed."/>
  <CreateRecord class="mb-12"/>
</template>
<script setup>
  import BrandingComponent from "@/components/Branding.vue"
  import CreateRecord from "@/components/CreateRecord.vue"
</script>
