<template>
  <div class="mb-5 text-center md:text-start pb-10">
    <h1 class="text-4xl font-semibold pb-2" v-text="APPNAME"></h1>
    <p v-if="description" v-text="description"></p>
  </div>
</template>
<script setup>
  const APPNAME = import.meta.env.VITE_APPNAME
  defineProps({
    description: {
      type: String,
      required: false
    }
  })
</script>
