<template>
  <form action="/api/record/create" method="POST" class="flex flex-col" @submit.prevent="formSubmit">
    <div class="bg-red-500 text-red-100 rounded px-2 py-4 mb-3" v-if="errors" v-text="errors[0]"></div>
    <div class="flex flex-col mb-3">
      <label>Hostname</label>
      <input type="text" class="px-2 py-3 border text-gray-800" v-model="form.name" required/>
    </div>
    <div class="flex flex-col mb-3">
      <label>IP Address</label>
      <input type="text" class="px-2 py-3 border text-gray-800" v-model="form.content" required/>
    </div>
    <div class="flex justify-center md:block">
      <div id="turnstile">
    </div>
    </div>
    <div class="grid md:flex gap-2 py-5">
      <button type="submit" class="px-5 py-3 rounded text-xl font-semibold border bg-blue-500 text-blue-100 disabled:opacity-50" :disabled="loader || !solved">Create Record</button>
    </div>
  </form>
</template>

<script setup>
  import { reactive, ref, onMounted, computed } from 'vue'

  const TURNSTILE_SITEKEY = import.meta.env.VITE_TURNSTILE_SITEKEY

  const captcha = ref(null)
  const loader = ref(true)
  const errors = ref(null)

  const form = reactive({
    name: "",
    content: "",
    turnstile: ""
  })

  const solved = computed(() => form.turnstile ? true : false)

  async function formSubmit(){
    try {
      errors.value = null
      loader.value = true
      const response = await fetch("https://shark-app-4hr47.ondigitalocean.app/api/record/create", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(form)
      })
      const result = await response.json()
      if(result.success) {
        form.name = ""
        form.content = ""
      } else {
        if( result.errors ) {
          errors.value = result.errors
        }
      }
      console.log(result)
    } catch (err) {
      alert(err.message)
    } finally {
      window.turnstile.reset(captcha.value)
    }
  }

  onMounted(()=>{
    window.turnstile.ready( async ()=>{
      captcha.value = await window.turnstile.render("#turnstile", {
        sitekey: TURNSTILE_SITEKEY,
        action: "dns-create",
        theme: "light",
        callback: token => {
          form.turnstile = token
          loader.value = false
        }
      })
    })
  })
</script>
