<template>
  
  <div class="flex flex-row md:flex-col p-4">
    <div class="grow md:grow-0">
      <h3 class="font-semibold text-xl pb-4">Navigation</h3>
      <ul>
        <li class=""><router-link :to="{ name: 'home' }" class="underline">Home</router-link></li>
        <li class=""><router-link :to="{ name: 'extend' }" class="underline">Extend Hostname</router-link></li>
        <li class=""><a class="underline" href="mailto: report@andrea05.cf">Report a Problem/Abuse</a></li>
      </ul>
    </div>
    <div class="py-4">
      <ReferComponent/>
    </div>
  </div>

</template>

<script setup>
  import ReferComponent from './Refer.vue'
</script>
