<template>
  <div class="w-full text-gray-700 flex flex-col md:flex-row md:justify-center py-10">
    <div class="w-full md:w-1/2 flex flex-col p-4">
      <router-view v-slot="{ Component }">
        <keep-alive><component :is="Component"/></keep-alive>
      </router-view>
    </div>
    <FooterComponent/>
  </div>
</template>
<script setup>
  import FooterComponent from "./components/Footer.vue"
</script>
